/* some common style among pages */

@font-face {
	font-family: EchinosParkScript;
	src: url('../fonts/echinos-park-script.ttf');
}

#nav-logo {
	font-family: EchinosParkScript;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.side-nav li ul.collapsible li a.collapsible-header {
    padding: 0 32px;
}
.side-nav li ul.collapsible li .collapsible-body li a {
    font-weight: 400;
    padding: 0 48px;
}

.card-title .material-icons {
    font-size: inherit;
    margin-right: 4px;
}

.moment-module-icon {
    width: 128px;
}
